# Math snippets.

snippet _empty
	∅

snippet _of
	∈

snippet _notof
	∉

snippet _subset
	⊆

snippet _Subset
	⊂

snippet _forall
	∀

snippet _all
	∀

snippet _exists
	∃

snippet _ex
	∃

snippet _sum
	∑

snippet _prod
	∏

snippet _alpha
	α

snippet _or
	⋁

snippet _and
	⋀

snippet _le
	≤

snippet _ge
	≥

snippet _pe
	≼

snippet _se
	≽

snippet _not
	¬

snippet _inter
	∩

snippet _union
	∪

snippet _eqdef
	≝

snippet _eq3
	≡

snippet _ind
	⫫

snippet _Theta
	Θ

