# Snippets for Python.

snippet class
	class ${1}(${2}):
	    """${3}."""

	    def __init__(self, ${4}):
	        """Construct ${5}."""
	        ${6}

snippet def
	def ${1}(${2}):
	    """${3}."""
	    ${4}

